<div class="container">

	<div>
		
		<% if @blog.errors.present? %>

			<%= @blog.errors %>

		<% end %>

	</div>
	
<%= form_for @blog, :url => restaurant_blog_path(@blog.restaurant_id, @blog.id) do |form| %>


	<div class="form-group">
		
		<%= form.label :title %>
		<%= form.text_field :title, class: "form-control" %>

	</div>
	<div class="form-group">
		
		<%= form.label :photos %>
		<%= form.file_field :photos %>

	</div>
	<div class="form-group">
		
		<%= form.label :restaurant_id %>
		<%= form.text_field :restaurant_id, class: "form-control" %>

	</div>
	
	<%= form.hidden_field :user_id, :value => current_user.id %>
	<%= form.hidden_field :hot_count %>


  	<%= form.cktext_area :description, value: 'Default value', id: 'sometext',cols: 40, ckeditor: { uiColor: '#AADC6E', toolbar: 'mini' } %>

  	<%= form.submit "submit", class: "btn btn-primary" %>
  	
  	<% end %>

</div>
