<div class="container">
	
	<p class="article-title"><%= @blog.title %></p>

	<% if current_user.id == @blog.user_id%>

		<div class="right">
			
			<%= link_to "edit", edit_restaurant_blog_path(@blog.restaurant_id, @blog.id) %>

		</div>

	<% end %>
	<div class="article-body">

		<%= raw @blog.description %>
		
	</div>

	<div class="comments", id="comments">
		
		<% if @blog.commments != [] %>

			<% (@blog.commments).each do |c| %>

			<div >
				
				<h4><%=c.user_id %></h4>
				<h4><%= simple_format(c.commenter) %></h4>

			</div>

			<% end %>

		<% end %>

	</div>

	<div class="comment-form">
		
		<% if current_user %>

			<%= form_for :comment, :url => comments_path, remote: true do |f| %>


				<div class="form-group">
					
					<%= f.label :comment %>

					<%= f.text_area :commenter, class: "form-control", row: "100" %>

				</div>

				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :blog_id, :value => @blog.id %>
				<%= f.hidden_field :rest_id, :value => @blog.restaurant_id %>

				<%= f.submit "comment", class: "btn btn-primary comment-btn", :onclick => 'postcomment' %>

				

			<% end %>

		<% else %>

			<a href= <%= new_user_session_path %>>
				
				<button class="login-to-comment btn btn-primary">login to comment</button>

			</a>
			

		<% end %>

	</div>

	



</div>