<div class="container">
	
	<div class="information">
		
		<div class="store-info col-xs-12 col-sm-5 col-md-5 col-lg-5">
			<h1><%=@rest.name %></h1>
			<table>

				<tr>
					<th>電話</th>
					<td><%= @rest.phone %></td>
				</tr>
				<tr>
					<th>地址</th>
					<td><%= @rest.address %></td>
				</tr>
				<tr>
					<th>評價</th>
					<td><%= @rest.eva %></td>

				</tr>
			</table>
			<% if current_user %>
				<%= form_for :eva, :url => restaurant_blogs_path(0) do |f|%>
					<%= f.hidden_field :user_id, :value => current_user.id %>
					<%= f.hidden_field :restaurant_id, :value => params[:id] %>

					<%= f.text_field :level %>
					<%= f.submit "vote", :onclick => "ajax()" %>
				<% end %>

			<% else %>	
			
				<p>登入後評價</p>
				
			<% end %>

		</div>
		<div class="google-map col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<p>google-map</p>
		</div>

	</div>

	<div class="content">

		<div class="articles">
			<h1>相關文章</h1>
			<% if @rest.blogs != [] %>
				<% @rest.blogs.each do %>

					<div class="store-article">
						<a href= <%=restaurant_blog_path(i, 1) %>>
							<img src="../star_icon.jpg">
							<div class="article-brief">
							<h3>article title</h3>
							<p>文章段落</p>
							</div>
						
						</a>	
					</div>

				<% end %>

			<% else %>

				<h3>尚未有文章
					
					<% if current_user %>

						<%= link_to "新增文章", new_restaurant_blog_path(0) %>
					
					<% end %>	
				</h3>

			<% end %>
		</div>		
		
			
	</div>

</div>

